﻿@model Bulls_And_Cows.Web.Models.BanModalViewModel

@{
    ViewData["Title"] = "GetAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> Manage Users</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Register
            </th>
            <th>
                Username
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.usersViewModel.ActiveUsers)
        {
            <tr>
                <td>
                    @item.CreatedOn.ToShortDateString()
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    <input type="button" value="Ban" class="btn btn-outline-danger" data-name="@item.Username" data-id="@item.Id" id="banButton" data-toggle="modal" data-target="#exampleModal" />
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ban @item.Username</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="CreateBan">
                                        <input value="@item.Id" asp-for="@Model.banViewModel.UserId" type="hidden" id="hiddenId" />
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Description:</label>
                                            <textarea class="form-control" asp-for="@Model.banViewModel.Description" id="message-text"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-outline-danger" value="Ban">Ban</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h5>List of banned users</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Register
            </th>
            <th>
                Username
            </th>
            <th>
                Ban Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.usersViewModel.BannedUsers)
        {
            <tr>
                <td>
                    @item.CreatedOn.ToShortDateString()
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.ReasonForBan
                </td>
                <td>

                    <a class="btn btn-outline-danger" asp-area="" asp-controller="User" asp-action="UnbanUser" asp-route-id="@item.Id">Unban</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $(document).on('click', '#banButton', function (x) {
                x.preventDefault();
                let name = $(this).data("name");
                let userId = $(this).data("id");
                $("#exampleModalLabel").html("Ban user: " + name);
                $("#hiddenId").removeAttr("value");
                $("#hiddenId").attr("value", userId);

            });
        });
    </script>
}