﻿@model ICollection<Bulls_And_Cows.Web.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Top 25 Users</h1>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Username
            </th>
            <th>
                Number Of Games
            </th>
            <th>
                Coefficient
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfGames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coefficient)
                </td>
            </tr>
        }
    </tbody>
</table>

