﻿@model Bulls_And_Cows.Web.Models.GameViewModel

@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Play</h1>

<hr />

<body id="myform">
    <div class="col-md-1">
        <input type="hidden" value="@Model.Id" id="id" />
        <input type="hidden" value="@Model.UserId" id="userId" />
        <input type="hidden" value="@Model.Score" id="score" />
    </div>
    @{

        if (Model.Bulls == 4)
        {
            <div>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Congratulations!</h4>
                    You won after @Model.Score guesses!
                </div>
                <a asp-area="" asp-controller="Game" asp-action="Create" id="newGame" class="btn btn-info">New Game</a>
            </div>
            <br />
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <strong>You must enter a four-digit number without duplicates and zeros.</strong>
                <br />
                To select number use an only mouse/touchpad and arrows up and down.
            </div>
            <div>
                <div class="form-group phone">
                    <input type="number" max="9" Min="1" id="number1" class="allNumbers" onchange=CheckDuplicates() style="font-size:40pt;height:80px;width:80px;" />
                    <input type="number" max="9" Min="1" id="number2" class="allNumbers" onchange=CheckDuplicates() style="font-size:40pt;height:80px;width:80px;" />
                    <input type="number" max="9" Min="1" id="number3" class="allNumbers" onchange=CheckDuplicates() style="font-size:40pt;height:80px;width:80px;" />
                    <input type="number" max="9" Min="1" id="number4" class="allNumbers" onchange=CheckDuplicates() style="font-size:40pt;height:80px;width:80px;" />
                    <button id="submitGuess" onclick="create()" type="submit" value="Create" class="btn btn-info">Guess</button>
                </div>
                <hr />
            </div>

        }

        if (Model.AllGuesses.Count > 0)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Your Guesses
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bulls)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cows)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllGuesses)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Guess)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Bulls)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cows)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
</body>

<style>
    .duplicate {
        box-shadow: inset 0 0 0 3px red;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*

    <script>
        $("[type='number']").keypress(function (evt) {
            evt.preventDefault();
        });

        $(document).ready(function () {
            $('input').focusout(function () {
                var num = $(this).val();
                if (num > 9) {
                    $(this).val("9");
                    alert("Maximum is 9");

                }

                if (num < 1) {
                    $(this).val("1");
                    alert("Minimum is 1");
                }

            });

        });

        function CheckDuplicates() {
            var values = [];  

            $(".duplicate").removeClass("duplicate"); 
            var $inputs = $('input[class="allNumbers"]'); 

            $inputs.each(function () {  

                var v = this.value;
                if (!v) return true; 

                if (values.includes(v)) $inputs.filter(function () { return this.value == v }).addClass("duplicate");

                values.push(v); 
            });

            return $(".duplicate").length > 0;

        };

            function create() {
                let currentGuess = new Array();

                currentGuess.push(document.getElementById('number1'.toString()).value);
                currentGuess.push(document.getElementById('number2'.toString()).value);
                currentGuess.push(document.getElementById('number3'.toString()).value);
                currentGuess.push(document.getElementById('number4'.toString()).value);

                let id = document.getElementById('id'.toString()).value;
                let userId = document.getElementById('userId'.toString()).value;
                let score = document.getElementById('score'.toString()).value;
                var specNumber = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SpecialNumber)));
                var allGuesses = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AllGuesses)));

                $.ajax({
                    type: 'Put',
                    url: 'Play',
                    async: true,
                    cache: false,
                    data: {
                        'Id': id,
                        'SpecialNumber': specNumber,
                        'CurrentGuess': currentGuess,
                        'UserId': userId,
                        'AllGuesses': allGuesses,
                        'Score': score

                    },
                    success: function (data, txtStatus) {
                        $("body").html(data);
                    }

                })

            }
    </script>
}



