﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-3">How to Play</h1>
        <p class="lead">
            The app generates a secret non-repeating four-digit number that you need to guess in as few turns as possible. Once the game starts the turns you took to guess the number challenges you to be better at prediction.
            <br />
            <br />
            You get a bull for digits that are correct and in the right position. You get a cow for digits that are in the secret number but not yet in the right position.
            <br />
            <br />
            Have fun.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <p class="lead">
                <a asp-area="" asp-controller="Game" asp-action="Create" id="newGame" class="btn btn-info">New Game</a>
            </p>
        }
        else
        {
            <hr class="my-2">
            <p>
                Register and Play
            </p>
            <p class="lead">
                <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </p>
        }

    </div>
</div>
